@{
    ViewData["Title"] = "About API Inator";
}
<h2>@ViewData["Title"].</h2>

<p>by <a href="https://robrich.org/">Rob Richardson</a> and <a href="https://github.com/hattan">Hattan Shobokshi</a></p>
<p>Created at the MVP Summit Hackathon, November 2015.</p>
