@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <img src="~/images/inator.jpg" alt="Inator" class="img-responsive center-block" />
    <h1>API Inator</h1>
    <h2>on-the-fly mock API endpoints</h2>
</div>
