@model List<Inator>

@{
    ViewBag.Title = "Your Inators";
}

<h1>@ViewBag.Title</h1>

@if (Model == null || Model.Count < 1) {
    <p>No inators</p>
    <p><a asp-controller="Inator" asp-action="Edit"><i class="fa fa-plus"></i> Add</a></p>
} else {
    <table class="table">
        <thead>
        <tr>
            <th><a asp-controller="Inator" asp-action="Edit"><i class="fa fa-plus"></i> Add</a></th>
            <th>Subdomain</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var inator in Model) {
            <tr>
                <td>
                    <a asp-controller="Inator" asp-action="Edit" asp-route-id="@inator.InatorId"><i class="fa fa-pencil"></i> Edit</a> &nbsp; &nbsp;
                    <a asp-controller="Endpoint" asp-action="Index" asp-route-id="@inator.InatorId"><i class="fa fa-map-pin"></i> Endpoints</a>
                </td>
                <td>http://@(inator.Subdomain).api-inator.com/</td>
            </tr>
        }
        </tbody>
    </table>
}
