@model Endpoint

@{
    string title = Model.EndpointId > 0 ? "Edit" : "Add new";
    title += " endpoint for http://" + Model.Inator.Subdomain+".api-inator.com/";
    ViewBag.Title = title;
}

<a asp-controller="Endpoint" asp-action="Index" asp-route-id="@Model.InatorId"><i class="fa fa-chevron-left"></i> Back to Endpoint List</a>

<h2>@ViewBag.Title</h2>

<form asp-controller="Endpoint" asp-action="Edit" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <input type="hidden" name="InatorId" asp-for="InatorId" />

    <label asp-for="Method" class="ccontrol-label"></label><br/>
    <select asp-for="Method" class="form-control">
        <option>GET</option>
        <option>POST</option>
        <option>PUT</option>
        <option>HEAD</option>
        <option>TRACE</option>
        <option>DELETE</option>
        <option>SEARCH</option>
        <option>CONNECT</option>
        <option>PROPFIND</option>
        <option>PROPPATCH</option>
        <option>PATCH</option>
        <option>MKCOL</option>
        <option>COPY</option>
        <option>MOVE</option>
        <option>LOCK</option>
        <option>UNLOCK</option>
        <option>OPTIONS</option>
    </select>
    <span asp-validation-for="Method" class="text-danger"></span><br />

    <label asp-for="Url" class="ccontrol-label"></label><br/>
    <div class="input-group">
        <span class="input-group-addon">http://@(Model.Inator.Subdomain).api-inator.com</span>
        <input asp-for="Url" class="form-control" placeholder="/" />
    </div>
    <span asp-validation-for="Url" class="text-danger"></span><br />
    
    <label asp-for="StatusCode" class="ccontrol-label"></label><br />
    <input type="number" asp-for="StatusCode" class="form-control" placeholder="200" />
    <span asp-validation-for="StatusCode" class="text-danger"></span><br/>

    <label asp-for="ContentType" class="ccontrol-label"></label><br />
    <input asp-for="ContentType" class="form-control" placeholder="application/json" />
    <span asp-validation-for="ContentType" class="text-danger"></span><br />

    <label asp-for="ResponseType" class="ccontrol-label"></label><br/>
    <select asp-for="ResponseType">
        <option>Static</option>
        <option>JavaScript</option>
        <option>CSharp</option>
    </select>
    <span asp-validation-for="ResponseType" class="text-danger"></span><br />

    <label asp-for="ResponseContent" class="ccontrol-label"></label><br/>
    <div>FRAGILE: C# methods must be public object GetResponse(HttpRequest req) {...}</div>
    <div>FRAGILE: JavaScript methods must be function (cb, req) {... cb(null, JSON.stringify(...));}</div>
    <br /><br />
    <div style="border:1px dashed black;">
        <textarea asp-for="ResponseContent" style="width:800px;height:400px;border:1px solid black"></textarea>
    </div>
    <span asp-validation-for="ResponseContent" class="text-danger"></span><br />

    <button type="submit" class="btn btn-default">Save</button>


</form>

@section scripts{
<script>
    var textArea = document.getElementById("ResponseContent");
    var myCodeMirror = CodeMirror.fromTextArea(textArea);
  
</script>
}